body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1242px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1884 {
  position:absolute;
  left:742px;
  top:112px;
  width:63px;
  height:14px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:486px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:left;
}
#u1887 {
  position:absolute;
  left:498px;
  top:132px;
  width:306px;
  height:486px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:left;
}
#u1888 {
  position:absolute;
  left:2px;
  top:235px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1890 {
  position:absolute;
  left:498px;
  top:108px;
  width:306px;
  height:24px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1891 {
  position:absolute;
  left:2px;
  top:4px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:2px;
}
#u1893 {
  position:absolute;
  left:511px;
  top:122px;
  width:1px;
  height:2px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1894 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1895 {
  position:absolute;
  left:508px;
  top:123px;
  width:1px;
  height:1px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1896 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:4px;
}
#u1897 {
  position:absolute;
  left:514px;
  top:120px;
  width:1px;
  height:4px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1898 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:6px;
}
#u1899 {
  position:absolute;
  left:517px;
  top:118px;
  width:1px;
  height:6px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1900 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:9px;
}
#u1901 {
  position:absolute;
  left:520px;
  top:115px;
  width:1px;
  height:9px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1902 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1904 {
  position:absolute;
  left:711px;
  top:116px;
  width:14px;
  height:8px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1905 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1906 {
  position:absolute;
  left:724px;
  top:116px;
  width:7px;
  height:8px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1907 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1908 {
  position:absolute;
  left:731px;
  top:118px;
  width:3px;
  height:4px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1909 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1910 {
  position:absolute;
  left:529px;
  top:112px;
  width:51px;
  height:14px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u1912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1912 {
  position:absolute;
  left:742px;
  top:112px;
  width:63px;
  height:14px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1914 {
  position:absolute;
  left:619px;
  top:142px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1916 {
  position:absolute;
  left:749px;
  top:543px;
  width:15px;
  height:15px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1918 {
  position:absolute;
  left:510px;
  top:469px;
  width:280px;
  height:74px;
  text-align:left;
}
#u1919 {
  position:absolute;
  left:2px;
  top:29px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1920 {
  position:absolute;
  left:510px;
  top:176px;
  width:280px;
  height:254px;
  text-align:left;
}
#u1921 {
  position:absolute;
  left:2px;
  top:119px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1922 {
  position:absolute;
  left:514px;
  top:142px;
  width:66px;
  height:24px;
  font-size:20px;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1924 {
  position:absolute;
  left:521px;
  top:186px;
  width:30px;
  height:18px;
}
#u1925 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1926 {
  position:absolute;
  left:521px;
  top:219px;
  width:30px;
  height:18px;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1928 {
  position:absolute;
  left:521px;
  top:252px;
  width:44px;
  height:18px;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1930 {
  position:absolute;
  left:521px;
  top:322px;
  width:59px;
  height:18px;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1932 {
  position:absolute;
  left:521px;
  top:361px;
  width:59px;
  height:18px;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1934 {
  position:absolute;
  left:510px;
  top:447px;
  width:59px;
  height:18px;
  color:#666666;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1936 {
  position:absolute;
  left:514px;
  top:479px;
  width:59px;
  height:18px;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1938 {
  position:absolute;
  left:514px;
  top:515px;
  width:59px;
  height:18px;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1940 {
  position:absolute;
  left:522px;
  top:400px;
  width:59px;
  height:18px;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1942 {
  position:absolute;
  left:521px;
  top:287px;
  width:30px;
  height:18px;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u1944 {
  position:absolute;
  left:516px;
  top:208px;
  width:268px;
  height:1px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u1946 {
  position:absolute;
  left:516px;
  top:245px;
  width:268px;
  height:1px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u1948 {
  position:absolute;
  left:516px;
  top:274px;
  width:268px;
  height:1px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u1950 {
  position:absolute;
  left:516px;
  top:311px;
  width:268px;
  height:1px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u1952 {
  position:absolute;
  left:516px;
  top:350px;
  width:268px;
  height:1px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u1954 {
  position:absolute;
  left:516px;
  top:389px;
  width:268px;
  height:1px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1956 {
  position:absolute;
  left:692px;
  top:186px;
  width:92px;
  height:18px;
  color:#999999;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1958 {
  position:absolute;
  left:747px;
  top:219px;
  width:37px;
  height:19px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1960 {
  position:absolute;
  left:767px;
  top:221px;
  width:15px;
  height:15px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1962 {
  position:absolute;
  left:738px;
  top:252px;
  width:43px;
  height:18px;
  color:#999999;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1964 {
  position:absolute;
  left:753px;
  top:287px;
  width:28px;
  height:18px;
  color:#999999;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1966 {
  position:absolute;
  left:730px;
  top:324px;
  width:51px;
  height:18px;
  color:#999999;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1968 {
  position:absolute;
  left:757px;
  top:361px;
  width:24px;
  height:18px;
  color:#999999;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1970 {
  position:absolute;
  left:753px;
  top:400px;
  width:28px;
  height:18px;
  color:#999999;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u1972 {
  position:absolute;
  left:516px;
  top:506px;
  width:268px;
  height:1px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1974 {
  position:absolute;
  left:753px;
  top:479px;
  width:28px;
  height:18px;
  color:#999999;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1976 {
  position:absolute;
  left:753px;
  top:515px;
  width:28px;
  height:18px;
  color:#999999;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1978 {
  position:absolute;
  left:510px;
  top:571px;
  width:280px;
  height:36px;
  text-align:left;
}
#u1979 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1980 {
  position:absolute;
  left:725px;
  top:582px;
  width:10px;
  height:18px;
  color:#999999;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:510px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1982 {
  position:absolute;
  left:498px;
  top:108px;
  width:306px;
  height:510px;
  opacity:0.6;
}
#u1983 {
  position:absolute;
  left:2px;
  top:247px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1984 {
  position:absolute;
  left:505px;
  top:274px;
  width:286px;
  height:129px;
}
#u1985 {
  position:absolute;
  left:2px;
  top:56px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1986 {
  position:absolute;
  left:527px;
  top:280px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:2px;
}
#u1988 {
  position:absolute;
  left:536px;
  top:341px;
  width:224px;
  height:1px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:-8px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1990 {
  position:absolute;
  left:536px;
  top:322px;
  width:30px;
  height:18px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:189px;
}
#u1992 {
  position:absolute;
  left:498px;
  top:428px;
  width:307px;
  height:189px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:86px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u1994 {
  position:absolute;
  left:569px;
  top:372px;
  width:30px;
  height:18px;
  color:#0066FF;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u1996 {
  position:absolute;
  left:692px;
  top:372px;
  width:30px;
  height:18px;
  color:#0066FF;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u1998 {
  position:absolute;
  left:650px;
  top:370px;
  width:1px;
  height:20px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:169px;
  height:21px;
}
#u2001p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:161px;
  height:1px;
}
#u2001p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:171px;
  height:21px;
}
#u2001p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u2001p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u2001p002 {
  position:absolute;
  left:144px;
  top:-11px;
  width:22px;
  height:22px;
}
#u2001p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u2001.compound {
  width:0px;
  height:0px;
}
#u2001 {
  position:absolute;
  left:339px;
  top:268px;
  width:159px;
  height:1px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:3.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2003 {
  position:absolute;
  left:336px;
  top:264px;
  width:6px;
  height:7px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:83px;
}
#u2005 {
  position:absolute;
  left:385px;
  top:250px;
  width:93px;
  height:83px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:34px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2007 {
  position:absolute;
  left:381px;
  top:333px;
  width:125px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2009 {
  position:absolute;
  left:297px;
  top:117px;
  width:63px;
  height:14px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2010 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u2011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:486px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:left;
}
#u2012 {
  position:absolute;
  left:53px;
  top:137px;
  width:306px;
  height:486px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:left;
}
#u2013 {
  position:absolute;
  left:2px;
  top:235px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2015 {
  position:absolute;
  left:53px;
  top:113px;
  width:306px;
  height:24px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2016 {
  position:absolute;
  left:2px;
  top:4px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:2px;
}
#u2018 {
  position:absolute;
  left:66px;
  top:127px;
  width:1px;
  height:2px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2019 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2020 {
  position:absolute;
  left:63px;
  top:128px;
  width:1px;
  height:1px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2021 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:4px;
}
#u2022 {
  position:absolute;
  left:69px;
  top:125px;
  width:1px;
  height:4px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2023 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:6px;
}
#u2024 {
  position:absolute;
  left:72px;
  top:123px;
  width:1px;
  height:6px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2025 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:9px;
}
#u2026 {
  position:absolute;
  left:75px;
  top:120px;
  width:1px;
  height:9px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2027 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2029 {
  position:absolute;
  left:266px;
  top:121px;
  width:14px;
  height:8px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2030 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2031 {
  position:absolute;
  left:279px;
  top:121px;
  width:7px;
  height:8px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2032 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2033 {
  position:absolute;
  left:286px;
  top:123px;
  width:3px;
  height:4px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2034 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2035 {
  position:absolute;
  left:84px;
  top:117px;
  width:51px;
  height:14px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2036 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2037 {
  position:absolute;
  left:297px;
  top:117px;
  width:63px;
  height:14px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2039 {
  position:absolute;
  left:174px;
  top:147px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2040 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2041 {
  position:absolute;
  left:304px;
  top:548px;
  width:15px;
  height:15px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2043 {
  position:absolute;
  left:65px;
  top:474px;
  width:280px;
  height:74px;
  text-align:left;
}
#u2044 {
  position:absolute;
  left:2px;
  top:29px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2045 {
  position:absolute;
  left:65px;
  top:181px;
  width:280px;
  height:254px;
  text-align:left;
}
#u2046 {
  position:absolute;
  left:2px;
  top:119px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2047 {
  position:absolute;
  left:69px;
  top:147px;
  width:66px;
  height:24px;
  font-size:20px;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2049 {
  position:absolute;
  left:76px;
  top:191px;
  width:30px;
  height:18px;
}
#u2050 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2051 {
  position:absolute;
  left:76px;
  top:224px;
  width:30px;
  height:18px;
}
#u2052 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2053 {
  position:absolute;
  left:76px;
  top:257px;
  width:44px;
  height:18px;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2055 {
  position:absolute;
  left:76px;
  top:327px;
  width:59px;
  height:18px;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2057 {
  position:absolute;
  left:76px;
  top:366px;
  width:59px;
  height:18px;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2059 {
  position:absolute;
  left:65px;
  top:452px;
  width:59px;
  height:18px;
  color:#666666;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2061 {
  position:absolute;
  left:69px;
  top:484px;
  width:59px;
  height:18px;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2063 {
  position:absolute;
  left:69px;
  top:520px;
  width:59px;
  height:18px;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2065 {
  position:absolute;
  left:77px;
  top:405px;
  width:59px;
  height:18px;
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2067 {
  position:absolute;
  left:76px;
  top:292px;
  width:30px;
  height:18px;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u2069 {
  position:absolute;
  left:71px;
  top:213px;
  width:268px;
  height:1px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u2071 {
  position:absolute;
  left:71px;
  top:250px;
  width:268px;
  height:1px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u2073 {
  position:absolute;
  left:71px;
  top:279px;
  width:268px;
  height:1px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u2075 {
  position:absolute;
  left:71px;
  top:316px;
  width:268px;
  height:1px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u2077 {
  position:absolute;
  left:71px;
  top:355px;
  width:268px;
  height:1px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u2079 {
  position:absolute;
  left:71px;
  top:394px;
  width:268px;
  height:1px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2081 {
  position:absolute;
  left:247px;
  top:191px;
  width:92px;
  height:18px;
  color:#999999;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2083 {
  position:absolute;
  left:302px;
  top:224px;
  width:37px;
  height:19px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2085 {
  position:absolute;
  left:322px;
  top:226px;
  width:15px;
  height:15px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2087 {
  position:absolute;
  left:293px;
  top:257px;
  width:43px;
  height:18px;
  color:#999999;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2089 {
  position:absolute;
  left:308px;
  top:292px;
  width:28px;
  height:18px;
  color:#999999;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2091 {
  position:absolute;
  left:285px;
  top:329px;
  width:51px;
  height:18px;
  color:#999999;
}
#u2092 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2093 {
  position:absolute;
  left:312px;
  top:366px;
  width:24px;
  height:18px;
  color:#999999;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2095 {
  position:absolute;
  left:308px;
  top:405px;
  width:28px;
  height:18px;
  color:#999999;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:2px;
}
#u2097 {
  position:absolute;
  left:71px;
  top:511px;
  width:268px;
  height:1px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:-8px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2099 {
  position:absolute;
  left:308px;
  top:484px;
  width:28px;
  height:18px;
  color:#999999;
}
#u2100 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2101 {
  position:absolute;
  left:308px;
  top:520px;
  width:28px;
  height:18px;
  color:#999999;
}
#u2102 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2103 {
  position:absolute;
  left:65px;
  top:576px;
  width:280px;
  height:36px;
  text-align:left;
}
#u2104 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2105 {
  position:absolute;
  left:76px;
  top:585px;
  width:30px;
  height:18px;
}
#u2106 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2107 {
  position:absolute;
  left:326px;
  top:587px;
  width:10px;
  height:18px;
  color:#999999;
}
#u2108 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2109 {
  position:absolute;
  left:53px;
  top:57px;
  width:203px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2111 {
  position:absolute;
  left:498px;
  top:57px;
  width:171px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2112 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2113 {
  position:absolute;
  left:876px;
  top:72px;
  width:171px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:414px;
}
#u2115 {
  position:absolute;
  left:878px;
  top:119px;
  width:364px;
  height:414px;
  font-size:16px;
}
#u2116 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
